__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/
.venv/

.ipynb_checkpoints/
.env
.env.local
config.json  # 設定ファイル（必要なら手動管理）

logs/
*.log
*.out

*.sqlite3
migrations/
instance/

dist/
build/
*.egg-info/

.vscode/

.idea/

.DS_Store
Thumbs.db